In [1]:

import ibis
from ibis import _
from cng.utils import *
from cng.h3 import * 
import os
con = ibis.duckdb.connect(extensions = ["spatial", "h3"])
install_h3()

In [4]:
set_secrets(con, key ="", secret="", endpoint="s3-west.nrp-nautilus.io")
df = con.read_parquet("s3://public-iucn/hex/reptiles_thr_sr/**")
df.head().execute()

df.group_by(_.reptiles_thr_sr).agg(n = _.count()).order_by(_.n.desc()).execute()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

    reptiles_thr_sr         n
0                 0  15282860
1                 3   2571570
2                 2   1614493
3                 4   1479562
4                 1    832567
5                 5     54808
6                 6     42274
7                 7     22147
8                 8     17104
9                 9     15320
10               10     11700
11               12     10437
12               11      9996
13               13      6536
14               14      3841
15               15      2435
16               16      1966
17               17      1103
18               18       597
19               19       337
20               20       119
21               21        37
22               22        28
23               26         6
24               23         5
25               30         3
26               24         2
27               28         1