In [ ]:
import polars

In [2]:
# Using polars more elegant s3-style access, but fails with GPU engine.  Can add auth for private data + writes
import polars as pl

endpoint = "minio.carlboettiger.info"
storage_options = {
    "endpoint_url": "https://" + endpoint,
    "aws_skip_signature": "true",
}

upper_districts = pl.scan_parquet(
    "s3://public-census/2024/sld/upper/z8/*",
    storage_options=storage_options
)
# error
# upper_districts.head().collect(engine="gpu")

In [5]:
%%time
import polars as pl
import pyarrow.fs as fs
import os

# assumes public URLs
def pl_scan_parquet_gpu(base_path, endpoint = os.getenv("AWS_S3_ENDPOINT", "s3.amazonaws.com")):
    s3 = fs.S3FileSystem(endpoint_override = endpoint, anonymous = True)
    file_stats = s3.get_file_info(fs.FileSelector(base_path, recursive = True))
    
    # 3. Construct "Direct HTTP" URLs
    file_urls = [
        f"https://{endpoint}/{info.path}" 
        for info in file_stats 
        if info.is_file and info.path.endswith(".parquet")
    ]
    return pl.scan_parquet(file_urls)


upper_districts = pl_scan_parquet_gpu("public-census/2024/sld/upper/z8/")
lower_districts = pl_scan_parquet_gpu("public-census/2024/sld/lower/z8/")

# upper_districts.head().collect(engine="gpu")

CPU times: user 13.2 ms, sys: 3.11 ms, total: 16.4 ms
Wall time: 27.2 ms

In [ ]:
upper_districts.head().collect("gpu")

In [13]:
%%time
wetlands = pl_scan_parquet_gpu("public-wetlands/hex/")
(
wetlands
    .filter(pl.col("Z") != 255)
    .group_by("Z")
    .agg(pl.len().alias("n"))
    .sort("n", descending=True)
    .collect(engine="gpu")
)

CPU times: user 3.04 s, sys: 1.97 s, total: 5.01 s
Wall time: 8.75 s

shape: (34, 2)
┌─────┬────────────┐
│ Z   ┆ n          │
│ --- ┆ ---        │
│ i32 ┆ u32        │
╞═════╪════════════╡
│ 0   ┆ 1006929452 │
│ 22  ┆ 118737775  │
│ 23  ┆ 105021290  │
│ 24  ┆ 64233490   │
│ 1   ┆ 40473541   │
│ …   ┆ …          │
│ 27  ┆ 1792308    │
│ 28  ┆ 1751918    │
│ 16  ┆ 1370685    │
│ 5   ┆ 904302     │
│ 29  ┆ 826920     │
└─────┴────────────┘

In [4]:
%%time
import polars as pl

pad_z8 = pl.scan_parquet(
    "https://minio.carlboettiger.info/public-biodiversity/pad-us-4/pad-h3-z8.parquet"
)

tracts_z8 = (
    pl.scan_parquet("https://minio.carlboettiger.info/public-social-vulnerability/2022-tracts-h3-z8.parquet")
    .with_columns(pl.col("h8").str.to_lowercase())
)

mobi = (
    pl.scan_parquet("https://minio.carlboettiger.info/public-mobi/hex/all-richness-h8.parquet")
    .select(["richness", "h8"])
)

svi = (
    pl.scan_parquet("https://minio.carlboettiger.info/public-social-vulnerability/2022/SVI2022_US_tract.parquet")
    .select(["FIPS", "RPL_THEMES"])
)

# Constant definition (standard Python)
hectres_h8 = 737327.598 / 10000

# 1. Join the LazyFrames
combined = (
    tracts_z8
    .join(mobi, on="h8", how="inner")
    .join(pad_z8, on="h8", how="inner")
    .join(svi, on="FIPS", how="inner")
    .join(upper_districts, on="h8", how="inner")
)

stats = (
    combined
    .group_by(["NAMELSAD", "STATE"])
    .agg([
        pl.col("richness").mean().alias("richness"),
        (pl.len() * hectres_h8).alias("area"),
        pl.col("RPL_THEMES").mean().alias("svi")
    ])
    .sort("richness", descending=True)
)

stats.collect().head()

CPU times: user 8.81 s, sys: 4.59 s, total: 13.4 s
Wall time: 4.28 s

shape: (5, 5)
┌──────────────────────────┬────────────┬───────────┬───────────────┬──────────┐
│ NAMELSAD                 ┆ STATE      ┆ richness  ┆ area          ┆ svi      │
│ ---                      ┆ ---        ┆ ---       ┆ ---           ┆ ---      │
│ str                      ┆ str        ┆ f64       ┆ f64           ┆ f64      │
╞══════════════════════════╪════════════╪═══════════╪═══════════════╪══════════╡
│ State Senate District 9  ┆ California ┆ 10.210274 ┆ 107649.829308 ┆ 0.29136  │
│ State Senate District 54 ┆ Georgia    ┆ 9.626004  ┆ 100940.148166 ┆ 0.626828 │
│ State Senate District 51 ┆ Indiana    ┆ 9.142857  ┆ 516.129319    ┆ 0.448214 │
│ State Senate District 40 ┆ California ┆ 9.026264  ┆ 300387.263425 ┆ 0.406408 │
│ State Senate District 28 ┆ Tennessee  ┆ 8.277985  ┆ 39520.759253  ┆ 0.340525 │
└──────────────────────────┴────────────┴───────────┴───────────────┴──────────┘

In [17]:
%%time

import ibis
from ibis import _
# env vars
import os
endpoint = os.getenv("AWS_S3_ENDPOINT", "minio.carlboettiger.info")
url_style = "path"
use_ssl = os.getenv("AWS_HTTPS", "TRUE")
url_compatibility_mode = True

con = ibis.duckdb.connect()


set_secrets = f'''
CREATE OR REPLACE SECRET s3_key (
    TYPE S3,
    ENDPOINT '{endpoint}',
    URL_STYLE '{url_style}'
);
'''


con.raw_sql(set_secrets)
lower_districts = con.read_parquet("s3://public-census/2024/sld/lower/z8/**")
upper_districts = con.read_parquet("s3://public-census/2024/sld/upper/z8/**")
pad_z8 =  con.read_parquet("https://minio.carlboettiger.info/public-biodiversity/pad-us-4/pad-h3-z8.parquet")
tracts_z8 = con.read_parquet("https://minio.carlboettiger.info/public-social-vulnerability/2022-tracts-h3-z8.parquet").mutate(h8 = _.h8.lower())
mobi = con.read_parquet("https://minio.carlboettiger.info/public-mobi/hex/all-richness-h8.parquet").select('richness', 'h8')
svi = con.read_parquet("https://minio.carlboettiger.info/public-social-vulnerability/2022/SVI2022_US_tract.parquet").select('FIPS', 'RPL_THEMES')

wetlands = con.read_parquet("s3://public-wetlands/hex/**")

CPU times: user 167 ms, sys: 7.18 ms, total: 174 ms
Wall time: 1.09 s

In [20]:
%%time
wetlands.filter(_.Z != 255).group_by(_.Z).agg(n = _.Z.count()).order_by(_.n.desc()).execute()

CPU times: user 9.08 s, sys: 0 ns, total: 9.08 s
Wall time: 675 ms

     Z           n
0    0  1006929452
1   22   118737775
2   23   105021290
3   24    64233490
4    1    40473541
5   15    40294454
6   26    33736217
7    7    28838006
8   25    24330662
9   33    22282826
10  12    20039784
11  13    18152029
12   6    16649894
13  14    15095584
14  21    11034258
15  19     8992474
16   2     8419628
17   9     8209697
18   4     7756976
19  11     7350258
20   8     7343319
21  31     6477943
22  10     5176613
23  32     5164978
24   3     4705558
25  18     4587902
26  30     3388204
27  17     2418094
28  20     1905742
29  27     1792308
30  28     1751918
31  16     1370685
32   5      904302
33  29      826920

In [22]:
pad_z8.head().execute()

                                  Unit_Nm   row_n               h8
0  Pyramid Mountain Natural Historic Area  490053  882a1041e3fffff
1                     Lake Rickabear Camp  490059  882a104131fffff
2  Pyramid Mountain Natural Historic Area  490064  882a1041c7fffff
3  Pyramid Mountain Natural Historic Area  490069  882a1041ebfffff
4                        Pyramid Mountain  490070  882a1041ebfffff

In [6]:
%%time
combined = (tracts_z8
    .inner_join(mobi, "h8")
    .inner_join(pad_z8, "h8")
    .inner_join(svi, "FIPS")
    .inner_join(upper_districts, "h8")
           )

hectres_h8 = 737327.598	/ 10000

stats = (
    combined
    #.group_by("COUNTY", "STATE")
    .group_by("NAMELSAD", "STATE")
    .agg(richness = _.richness.mean(), 
         
         area = _.count() * hectres_h8,
         svi = _.RPL_THEMES.mean() 
         )
    .order_by(_.richness.desc())
)

stats.head().execute()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

CPU times: user 12 s, sys: 4.46 s, total: 16.4 s
Wall time: 4.38 s

                   NAMELSAD       STATE   richness           area       svi
0   State Senate District 9  California  10.210274  107649.829308  0.291360
1  State Senate District 54     Georgia   9.626004  100940.148166  0.626828
2  State Senate District 51     Indiana   9.142857     516.129319  0.448214
3  State Senate District 40  California   9.026264  300387.263425  0.406408
4  State Senate District 28   Tennessee   8.277985   39520.759253  0.340525

---

## Polars with pyarrow

Uses s3 directly but very slow

In [26]:
%%time

## Polars with pyarrow is crazy slow
import polars as pl
import pyarrow.dataset as ds
from pyarrow import fs

s3 = fs.S3FileSystem(endpoint_override=endpoint)

# Define the dataset
dataset = ds.dataset(
    "public-census/2024/sld/upper/z8/", 
    filesystem=s3, 
    format="parquet"
)

upper_districts = pl.scan_pyarrow_dataset(dataset)
upper_districts.head().collect(engine="gpu")

CPU times: user 234 ms, sys: 97 ms, total: 331 ms
Wall time: 28.3 s

shape: (5, 15)
┌─────────┬────────┬───────┬─────────────┬───┬─────────────┬─────────────┬────────────┬────────────┐
│ STATEFP ┆ SLDUST ┆ GEOID ┆ GEOIDFQ     ┆ … ┆ INTPTLAT    ┆ INTPTLON    ┆ h8         ┆ h0         │
│ ---     ┆ ---    ┆ ---   ┆ ---         ┆   ┆ ---         ┆ ---         ┆ ---        ┆ ---        │
│ str     ┆ str    ┆ str   ┆ str         ┆   ┆ str         ┆ str         ┆ str        ┆ str        │
╞═════════╪════════╪═══════╪═════════════╪═══╪═════════════╪═════════════╪════════════╪════════════╡
│ 01      ┆ 002    ┆ 01002 ┆ 610U900US01 ┆ … ┆ +34.7832617 ┆ -086.734870 ┆ 8826493243 ┆ 8027ffffff │
│         ┆        ┆       ┆ 002         ┆   ┆             ┆ 6           ┆ fffff      ┆ fffff      │
│ 01      ┆ 002    ┆ 01002 ┆ 610U900US01 ┆ … ┆ +34.7832617 ┆ -086.734870 ┆ 88264930cb ┆ 8027ffffff │
│         ┆        ┆       ┆ 002         ┆   ┆             ┆ 6           ┆ fffff      ┆ fffff      │
│ 01      ┆ 002    ┆ 01002 ┆ 610U900US01 ┆ … ┆ +34.7832617 ┆ -086.734870 ┆ 88264932c5 ┆ 8027ffffff │
│         ┆        ┆       ┆ 002         ┆   ┆             ┆ 6           ┆ fffff      ┆ fffff      │
│ 01      ┆ 002    ┆ 01002 ┆ 610U900US01 ┆ … ┆ +34.7832617 ┆ -086.734870 ┆ 882649a9e3 ┆ 8027ffffff │
│         ┆        ┆       ┆ 002         ┆   ┆             ┆ 6           ┆ fffff      ┆ fffff      │
│ 01      ┆ 002    ┆ 01002 ┆ 610U900US01 ┆ … ┆ +34.7832617 ┆ -086.734870 ┆ 882649ad55 ┆ 8027ffffff │
│         ┆        ┆       ┆ 002         ┆   ┆             ┆ 6           ┆ fffff      ┆ fffff      │
└─────────┴────────┴───────┴─────────────┴───┴─────────────┴─────────────┴────────────┴────────────┘