In [1]:
import ibis
from ibis import _
from cng.utils import *
from cng.h3 import * 
con = ibis.duckdb.connect("duck.db",extensions = ["spatial", "h3"])
install_h3()

In [ ]:
set_secrets(con)
wetlands = con.read_parquet("s3://public-wetlands/nrp/public-wetlands/hex/**").filter(_.Z != 255)

In [15]:
wetlands.to_parquet("s3://public-wetlands/hex/", partition_by = "h0")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [16]:
con.read_parquet("s3://public-wetlands/hex/**")

DatabaseTable: ibis_read_parquet_x4ud7pa535girlizrr7ctsv4ue
  Z  int32
  h8 string
  h0 string

In [21]:
con.read_parquet("s3://public-wetlands/hex/**").group_by(_.Z).agg(n = _.Z.count()).execute()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

     Z           n
0   23   105021290
1    4     7756976
2   24    64233490
3   33    22282826
4   17     2418094
5    9     8209697
6    5      904302
7   14    15095584
8   30     3388204
9    2     8419628
10  28     1751918
11  21    11034258
12  25    24330662
13  18     4587902
14  10     5176613
15  29      826920
16   6    16649894
17   3     4705558
18  12    20039784
19  20     1905742
20   0  1006929452
21  11     7350258
22  16     1370685
23  26    33736217
24   7    28838006
25  27     1792308
26  13    18152029
27  19     8992474
28   8     7343319
29   1    40473541
30  31     6477943
31  15    40294454
32  22   118737775
33  32     5164978

In [3]:

import ibis
from ibis import _
from cng.utils import *
from cng.h3 import * 
import os
con = ibis.duckdb.connect("duck.db",extensions = ["spatial", "h3"])
os.environ["AWS_ACCESS_KEY_ID"] = ""
os.environ["AWS_SECRET_ACCESS_KEY"] = ""
os.environ["AWS_DEFAULT_REGION"] = "us-west-2"

nwi = con.read_parquet("s3://us-west-2.opendata.source.coop/giswqs/nwi/wetlands/**")
nwi.group_by(_.WETLAND_TYPE).agg(n = _.WETLAND_TYPE.count()).order_by(_.n.desc()).execute()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

                         WETLAND_TYPE         n
0                            Riverine  10467826
1         Freshwater Emergent Wetland  10411019
2   Freshwater Forested/Shrub Wetland   8187776
3                     Freshwater Pond   7334894
4                               Other    625021
5        Estuarine and Marine Wetland    535794
6                                Lake    266198
7      Estuarine and Marine Deepwater    235950
8                               Lakes       771
9                            RIverine         1
10                               None         0

In [23]:
?set_secrets

Signature:
set_secrets(
    con,
    key='huggingface',
    secret='reenDWj4X72DG39hCdFH',
    endpoint='minio.carlboettiger.info',
    bucket='',
    url_style='path',
    region='us-east-1',
    use_ssl='true',
    url_compatibility_mode=True,
    session_token='',
    type='S3',
)
Docstring: <no docstring>
File:      /opt/conda/lib/python3.12/site-packages/cng/utils.py
Type:      function